<mat-card>
  <mat-card-title>Car List</mat-card-title>
  <mat-card-content>
    <mat-list>
			<th width="5%">VIN</th>
			<th width="5%">Make</th>
			<th width="5%">Model</th>
			<th width="5%">Year</th>
			<th width="5%">Trim</th>
			<th width="5%">Mileage</th>
		    <th width="5%">Type</th>
            <th width="5%">Action</th>
            
			
	  <mat-list-item *ngFor="let car of cars">
        <img mat-list-avatar src="/assets/images/car.png" alt="{{car.vin}}">
		
        <h3 mat-line>
			<th width="5%">{{car.vin}}</th>
			<th width="5%">{{car.make}}</th>
			<th width="5%">{{car.model}}</th>
			<th width="5%">{{car.year}}</th>
			<th width="5%">{{car.trim}}</th>
			<th width="5%">{{car.mileage}}</th>
		    <th width="5%">{{car.type}}</th>
             <th><a mat-button [routerLink]="['/car-edit', car.vin]">Edit</a></th>
		  <br><br>
        </h3>

      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <button mat-fab color="primary" [routerLink]="['/car-add']">Add</button>
</mat-card>
